# -----------------------------------------------------------------------------
# NextAuth: https://shipfa.st/docs/tutorials/user-auth
# -----------------------------------------------------------------------------
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

# -----------------------------------------------------------------------------
# Google OAuth: https://shipfa.st/docs/features/google-oauth
# -----------------------------------------------------------------------------
GOOGLE_ID=
GOOGLE_SECRET=

# -----------------------------------------------------------------------------
# Resend: https://shipfa.st/docs/features/emails
# -----------------------------------------------------------------------------
RESEND_API_KEY=

# -----------------------------------------------------------------------------
# Database URI: https://shipfa.st/docs/features/database
# -----------------------------------------------------------------------------
MONGODB_URI=

# -----------------------------------------------------------------------------
# Stripe: https://shipfa.st/docs/features/payments
# -----------------------------------------------------------------------------
STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# -----------------------------------------------------------------------------
# Beehiiv: 
# -----------------------------------------------------------------------------
BEEHIVE_API_KEY=X0V45kSNpNG635jKubweRmJOTmzHpweJy69pCBW6jLSnZsAZ4WVlTn2k6tVdAKxB
BEEHIVE_PUBLICATION_KEY=5eba1156-dca8-4e51-a0ca-4bab4bfd7938